@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ebebeb; }

/*!
 * Start Bootstrap - Agency v4.0.0-alpha (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
.herrick {
  color: #01a3ad; }

.content {
  background-color: white; }

.footer {
  background-color: #ebebeb;
  min-height: 100%; }

a {
  color: #00a3ad;
  text-decoration: none;
  line-height: 25pt; }

span a {
  line-height: 15pt; }

.btext {
  min-height: 50px; }

@font-face {
  font-family: Trade Gothic;
  src: url("../fonts/TradeGothic.eot");
  src: local("â˜º"), url(../fonts/TradeGothic.woff) format("woff"), url(../fonts/TradeGothic.ttf) format("truetype"), url(../fonts/TradeGothic.svg) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Trade Gothic;
  src: url("../fonts/TradeGothicBold.eot");
  src: local("â˜º"), url(../fonts/TradeGothicBold.woff) format("woff"), url(../fonts/TradeGothicBold.ttf) format("truetype"), url(../fonts/TradeGothicBold.svg) format("svg");
  font-weight: 700;
  font-style: normal; }

.mw {
  font-family: Merriweather,serif; }

.mws {
  font-family: Merriweather Sans,sans-serif; }

.tg,
.tgb {
  font-family: Trade Gothic,sans-serif; }

.tgb {
  font-weight: 700; }

body {
  font-family: Merriweather Sans,sans-serif; }

nav {
  font-size: 16pt;
  background-color: #000;
  letter-spacing: 1px; }

nav a:hover {
  color: #ba0c2f; }

ul {
  padding: 0;
  margin: 0; }

ul ul {
  position: absolute;
  display: none;
  left: 0;
  top: 100%;
  z-index: 10; }

footer {
  height: 100%;
  background-color: #ebebeb; }

footer h4,
footer span {
  color: #636363; }

[type=search]::-webkit-input-placeholder {
  font-family: Merriweather Sans,sans-serif;
  font-size: 14px;
  color: #000; }

li:hover ul {
  display: block; }

li {
  float: left; }

.section,
li {
  position: relative;
  width: 100%; }

.section {
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }

.section.red {
  background-color: #ba0c2f;
  color: #fff;
  max-width: 3000px; }

.section.white h2,
h3 {
  color: #ba0c2f; }

.section.white {
  background-color: #fff;
  color: #000; }

.section h1 {
  margin-top: 20px;
  font-size: 50pt; }
  @media screen and (max-width: 340px) {
    .section h1 {
      font-size: 45pt; } }

.toplevel {
  min-width: 150px;
  width: auto; }

.toplevel img {
  min-width: 200px; }

.toplogo {
  display: none; }

.subnav {
  font-family: Trade Gothic Bold,sans-serif;
  text-transform: uppercase;
  text-align: center; }

.subnav li {
  height: 40px;
  list-style: none;
  padding-top: 10px; }

.subnav li a {
  text-align: center; }

.subnav li ul li {
  background-color: #e7e7e8;
  color: #000;
  text-align: left;
  padding-left: 10px; }

.subnav li ul li a {
  color: #000;
  text-decoration: none; }

.subnav li ul li:hover {
  background-color: #d1d2d4; }

.subnav li:hover {
  color: #000;
  background-color: #e7e7e8; }

.toplevel.logo:hover {
  background-color: transparent; }

.mobile-subnav {
  font-family: Trade Gothic Bold,sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  width: 100%; }

.mobile-subnav ul li {
  height: 35px;
  line-height: 25px;
  width: 100%;
  list-style: none;
  border-bottom: 1px solid #a0a0a0;
  background-color: #f0f0f0; }

.mobile-subnav ul li a {
  color: #000;
  font-size: 22px; }

.mobile-subnav ul li ul {
  display: none; }

.mobile-subnav ul li:hover {
  background-color: #d1d1d1; }

.mobile-subnav ul li:hover a:hover {
  color: #ba0c2f; }

.mobile-open {
  display: none; }

.mobile-logo {
  max-width: 320px;
  padding-right: 20px;
  border-right: solid 1px white; }

@media screen and (max-width: 594px) {
  .mobile-logo {
    width: 100%;
    float: left;
    border-right: none;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto; }
  .nav-links {
    background-color: #BA0C2F; }
  nav a:hover {
    color: #cccccc; }
  .middle-link {
    border-right: solid 1px white;
    border-left: solid 1px white;
    padding-left: 1em;
    padding-right: 1em; } }

@media screen and (max-width: 502px) {
  .nav-links {
    width: 100%; }
  .middle-link {
    flex: 1 1 100%;
    border-right: none;
    border-left: none;
    padding-left: 0;
    padding-right: 0; }
  .left-link {
    flex: 1 1 100%; }
  .right-link {
    flex: 1 1 100%; } }

.resource-logo {
  height: 100px;
  padding-right: 20px;
  border-right: solid 1px white; }

.logo-tag {
  color: #fff;
  font-family: Trade Gothic;
  font-weight: 700;
  font-size: 28pt;
  padding-left: 20px;
  margin-left: 20px;
  padding-top: 10px;
  border-left: 1px solid #fff;
  height: 70px; }

.topnav-mobile {
  display: none; }

.bar {
  width: 30px;
  height: 1px;
  border-top: 2px solid #ba0c2f;
  margin-top: 5px;
  position: relative; }

@media screen and (max-width: 1170px) {
  .toplevel.logo {
    display: none; }
  .toplogo {
    display: block; }
  .toplogo img {
    max-height: 150px; } }

@media screen and (max-width: 1024px) {
  .subnav {
    display: none; }
  .mobile-open {
    display: block; } }

@media screen and (max-width: 861px) {
  .topnav {
    display: none; }
  .topnav-mobile {
    display: block;
    height: 120px;
    position: relative; }
  .mobile-subnav {
    top: 195px; } }

@media screen and (min-width: 1025px) {
  #canvasNav,
  #sidenav {
    display: none; } }

.search-query {
  border-radius: 15px;
  border-style: none;
  height: 25px;
  padding-left: 15px; }

#main {
  -webkit-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  min-height: 175px; }

@media screen and (max-width: 1024px) {
  #main {
    min-height: 225px; } }

@media screen and (max-width: 861px) {
  #main {
    min-height: 170px; } }

@media screen and (max-width: 515px) {
  #main {
    min-height: 130px; } }

@media screen and (max-width: 321px) {
  #main {
    min-height: 100px; } }

@media screen and (max-height: 450px) {
  .sidenav a {
    font-size: 18px; } }

#canvasNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

#canvasNav,
.quad {
  text-align: center; }

.quad {
  font-family: Trade Gothic Bold,sans-serif;
  text-transform: uppercase;
  width: 125px;
  height: 60px;
  border-color: #e7e7e8;
  padding-top: 15px; }

.info,
.quad {
  position: absolute; }

.info {
  font-family: Merriweather Sans,sans-serif;
  background-color: #d2d2d2;
  height: 75px;
  top: 120px;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px; }

.info .links {
  padding-top: 10px;
  font-size: 14px; }

.info .links div {
  border-color: #a0a0a0;
  line-height: 25px; }

.info .links div a:hover {
  color: #ba0c2f; }

.info .links div a {
  color: #000;
  font-size: 14px;
  padding: 0; }

.inner-addon .fa {
  position: absolute;
  padding: 4px 15px 5px 5px;
  pointer-events: none; }

.left-addon .fa {
  left: 0; }

.right-addon .fa {
  right: 0; }

.left-addon input {
  padding-left: 30px; }

.right-addon input {
  padding-right: 30px; }

.numbers {
  height: 300px;
  background-color: #ba0c2f;
  color: #fff; }

@media screen and (max-width: 480px) {
  .numbers {
    display: none; } }

.number-block {
  padding: 40px 0 0 50px;
  font-size: 25px;
  font-family: Trade Gothic;
  line-height: 30px; }

@media screen and (max-width: 1260px) {
  .number-block {
    padding: 40px 0 0 15px; } }

.icon {
  height: 60px;
  vertical-align: middle; }

.icon-lead {
  padding-left: 5px;
  color: #ba0c2f; }

.footer-icon {
  height: 40px;
  vertical-align: middle; }

@media screen and (max-width: 710px) {
  .numbers-third {
    display: none; } }

@media screen and (max-width: 775px) {
  .box {
    display: block; } }

.button {
  font-family: Trade Gothic;
  font-weight: 700;
  background-color: #fff;
  color: #00a3ad;
  text-transform: uppercase;
  padding-top: 4px;
  padding-bottom: 3px;
  border-radius: 15px;
  max-width: 130px;
  min-width: 50px;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto; }

.button a {
  color: #00a3ad;
  text-decoration: none;
  font-size: 16pt; }

.button.inverse {
  background-color: #00a3ad;
  color: #fff; }

.button.inverse a {
  color: #fff;
  text-decoration: none;
  font-weight: 600; }

.skybox {
  margin: 40px;
  width: 100%; }

.skybox h4 {
  color: #ba0c2f;
  text-transform: uppercase;
  font-family: Trade Gothic;
  font-size: 25px;
  margin: 20px; }

.skybox p {
  font-size: 15px;
  font-family: Merriweather; }

.skybox img {
  padding: 4px;
  border: 1px solid #d7d7d7;
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

@media screen and (max-width: 959px) {
  .skybox {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0; }
  .skybox img {
    width: 90%; } }

.colorblock {
  width: 250px;
  height: 175px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  font-weight: 700; }
  @media screen and (max-width: 640px) {
    .colorblock {
      width: 200px; } }
  @media screen and (max-width: 540px) {
    .colorblock {
      width: 250px; } }

.colorDetails {
  margin: 10;
  padding: 10;
  line-height: 10px;
  text-align: center; }

.colorblock.bulldog {
  background-color: #ba0c2f;
  color: #fff; }

.colorblock.herrick {
  background-color: #00a3ad;
  color: #fff; }

.colorblock.creamery {
  background-color: #d6d2c4;
  color: #fff; }

.colorblock.glory {
  background-color: #e4002b;
  color: #fff; }

.colorblock.odyssey {
  background-color: #c8d8eb;
  color: #fff; }

.colorblock.stegeman {
  background-color: #9ea2a2;
  color: #fff; }

.colorblock.athens {
  background-color: #66435a;
  color: #fff; }

.fonts-mw {
  line-height: 10px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #fff; }

.App-intro {
  font-size: large; }

@-webkit-keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

@keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -250px;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.sidenav.open {
  right: 0;
  opacity: 1; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.offcanvas a:focus,
.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

.banner {
  min-height: 510px;
  width: 100%;
  background-color: #ccc;
  background-image: url("../static/Header _72A8845 grass 2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative; }
  @media screen and (max-width: 584px) {
    .banner {
      min-height: 300px; } }

.textBlock {
  background-color: #ba0c2f;
  width: 700px;
  min-height: 40px;
  display: none;
  font-size: 19pt;
  text-align: left;
  line-height: 23pt;
  color: #fff;
  padding: 20px; }

.textBlock.left,
.textBlock.right {
  display: block;
  position: absolute;
  bottom: 25px; }

.textBlock.left {
  left: 70px; }
  @media screen and (max-width: 840px) {
    .textBlock.left {
      left: 0px; } }
  @media screen and (max-width: 700px) {
    .textBlock.left {
      width: 100%; } }
  @media screen and (max-width: 584px) {
    .textBlock.left {
      position: relative;
      display: none; } }

.textBlock.right {
  right: 70px; }

.circleIcon {
  padding: 10px;
  width: 250px; }
  @media screen and (max-width: 500px) {
    .circleIcon {
      width: 250px;
      margin-left: auto;
      margin-right: auto; } }

.iconImage {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 220px; }
  @media screen and (max-width: 600px) {
    .iconImage {
      height: 150px;
      width: 150px;
      padding-bottom: 160px; } }
  @media screen and (max-width: 500px) {
    .iconImage {
      height: 100px;
      width: 100px;
      padding-bottom: 100px; } }

.line {
  font-family: "Trade Gothic";
  font-size: 28pt;
  font-weight: 900; }

.front-line {
  font-family: "Merriweather Sans";
  font-size: 15pt;
  font-weight: 900;
  text-transform: uppercase; }
  @media screen and (max-width: 740px) {
    .front-line {
      width: 250px; } }
  @media screen and (max-width: 500px) {
    .front-line {
      width: 100%; } }

.nav-line {
  font-family: "Trade Gothic";
  font-size: 28pt;
  font-weight: 900;
  color: white;
  padding-left: 30px; }

a .line {
  color: black; }

/*# sourceMappingURL=main.ab38ee6e.css.map*/
