// Font Mixins
@font-face {
font-family: 'Trade Gothic';
src: url('../fonts/TradeGothic.otf') format('opentype');
font-weight: normal;
font-style: normal;
 }
@font-face {
font-family: 'Trade Gothic Bold';
src: url('../fonts/TradeGothicBold.otf') format('opentype');
font-weight: bold;
font-style: normal;
}
@mixin serif-font {
  font-family: 'Merriweather', serif;
}

@mixin script-font {
  font-family: 'Trade Gothic', sans-serif;
}

@mixin body-font {
  font-family: 'Merriweather Sans', sans-serif;
}

@mixin heading-font {
  font-family: 'Trade Gothic Bold', sans-serif;
  text-transform: uppercase;
}
@mixin nav-font {
  font-family: 'Trade Gothic', sans-serif;
  text-transform: uppercase;
  font-size: 20pt;
}
