// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #BA0C2F;
$theme-danger:     #E4002B;

$gray-base:        #000 !default;
$gray-darker:	   lighten($gray-base, 13.5%) !default; // #222
$gray-dark:		   lighten($gray-base, 20%) !default;   // #333
$gray:			   lighten($gray-base, 33.5%) !default; // #555
$gray-light:	   lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:	   lighten($gray-base, 93.5%) !default; // #eee
$arch-black : #000000;
$bulldog-red: #BA0C2F;
$chapel-bell-white: #FFFFFF;
$glory-glory: #E4002B;
$lake-herrick: #00A3AD;
$creamery: #D6D2C4;
$odyssey: #C8D8EB;
$athens: #66435A;
